<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-grid.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <header>
        <div class="row justify-content-center">
            <div class="alert alert-primary m-3" role="alert">
                <a href="/customerOrder">سفارشات مشتری</a>
            </div>
            <div class="alert alert-primary m-3" role="alert">
                <a href="/customer">مشتری</a>
            </div>
            <div class="alert alert-primary m-3" role="alert">
                <a href="/delivery">پیک</a>
            </div>
            <div class="alert alert-primary m-3" role="alert">
                <a href="/goodsItem">مواد اولیه</a>
            </div>
            <div class="alert alert-primary m-3" role="alert">
                <a href="/menuItem">منو</a>
            </div>
            <div class="alert alert-primary m-3" role="alert">
                <a href="/store">فروشگاه ها</a>
            </div>
            <div class="alert alert-primary m-3" role="alert">
                <a href="/storeOrder">سفارشات فروشگاه ها</a>
            </div>
            <div class="alert alert-primary m-3" role="alert">
                <a href="/report">گزارش</a>
            </div>
        </div>
    </header>