<% include ./header.ejs %> 

    <div id="spacer" style="height: 100px;background-color: gray;"></div>
    <div id="goods">
        <div class="container">
            <h2 class="text-center m-3"> مواد اولیه</h2>
            <div class="row justify-content-center">
                <div class="my_col">
                    <div class="card bg-success" style="width: 30rem;">
                        <div class="card-body text-center">
                            <form>
                                <div class="form-group text-white">
                                    <label for="menu-item-name">افزودن ماده اولیه</label>
                                    <select name="customer" class="w-100 my-2">
                                        <option value="volvo">نهال</option>
                                        <option value="volvo">رفاه</option>
                                      </select>
                                    <input type="text" class="form-control mb-2" id="good-name" placeholder="نام ماده اولیه">
                                    <input type="number" class="form-control mb-2" id="good-price" placeholder="قیمت ">
                                    <input type="submit" class="float-right btn btn-warning mx-3 mt-3" value="افزودن">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="my_col">
                    <div class="card bg-white" border="1" style="width: 15rem;">
                        <div class="card-body text-center">
                            <form>
                                <input type="text" class="form-control mb-2" placeholder="نام ماده اولیه" value="برنج">
                                <input type="number" class="form-control mb-2" placeholder="قیمت " value="2000">                                <input type="submit" class="float-right btn btn-warning w-100 my-2" value="تغییر">
                            </form>
                                <button class="btn btn-info w-100">حذف</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>